<!DOCTYPE html>
<html>
<head>
    <title>Web Components Hack Session</title>
    <meta charset="utf-8" />
		<link rel="stylesheet" href="/styles/lib/topcoat-0.7.5/css/topcoat-desktop-light.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/styles/app.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="/components/polymer/polymer.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/ken.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/liz.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container">
	<header>
		<h1>Web Components Hack!</h1>
	</header>
</div>
</body>
</html>
